.BannerContainer {
    margin: 0 50px;
    width: calc(85%-100px);
    background-color: #1db945;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 400px;
    padding: 20px;
    flex-direction: column;
}

.EventContainer {
    width: 100%;
    height: 75%;
    margin-top: -20px;
    border-radius: 16px 16px 0 0;
    overflow: hidden;
}

.EventContainer img {
    width: 100%;
    height: 100%;
	transform: scale(1);
	transition: .2s ease-in-out;
    overflow: hidden;
}

.EventContainer img:hover {
	transform: scale(1.2);
}

.EdescContainer {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
    padding-top: 20px;
}

.EtextContainer {
    font-size: 16px;
    color: white;
}

.EtextHeading {
    color: #CCF656;
    font-size: 20px;
}

.EventButton {
    border: 2px solid #181818;
    border-radius: 32px;
    font-size: 20px;
    padding: 10px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s linear;
    color: #181818
}

.EventButton:hover {
    background-color: #181818;
    color: #1db945;
}

a {
    text-decoration: none;
}