.artistCard {
    min-height: 250px;
    width: 250px;
    padding: 20px;
    background-color: #181818;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 6px;
    padding-bottom: 40px;
    transition: all 0.2s linear;
    margin-left: 50px;
    max-height: 350px;
}

.artistCard:hover {
    background-color: hsla(0,0%,16%);
}

.artistCard .artistImage {
    display: flex;
    height: 200px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.artistCard img {
    height: 210px;
    width: 210px;
    border-radius: 50%;
    text-align: center;
}

.artistText {
    padding: 10px;
    width: 280px;
}

.artistDesc {
    color: #A7A7A7;
    font-size: 14px;
    /* text-decoration: none; */
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 30px;
    margin-top: -10px;
}

.artistPlay {
    position: relative;
}
.artistPlay .playBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75px;
    height: 75px;
    border: none;
    background-color: #1db945;
    color: #181818;
    cursor: pointer;
    display: none;
    /* transform: scale(0); */
    transition: 1s all linear;
    font-size: 2rem;
    border-radius: 50%;
}

.artistCard:hover .playBtn {
    display: block;
    /* transform: scale(1); */
}