.songCard {
    min-height: 250px;
    width: 250px;
    padding: 20px;
    background-color: #181818;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 6px;
    padding-bottom: 40px;
    transition: all 0.2s linear;
    margin-left: 50px;
    max-height: 330px;
}

.songCard:hover {
    background-color: hsla(0,0%,16%);
}

.songCard .songImage {
    display: flex;
    height: 200px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.songCard img {
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-align: center;
}

.songText {
    padding: 10px;
    width: 250px;
}

.songText a {
    color: #A7A7A7;
    font-size: 14px;
    /* text-decoration: none; */
}

.songAnchor {
    display: inline-block;
}

.songPlay {
    position: relative;
}
.songPlay .playBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75px;
    height: 75px;
    border: none;
    background-color: #1db945;
    color: #181818;
    cursor: pointer;
    display: none;
    /* transform: scale(0); */
    transition: 1s all linear;
    font-size: 2rem;
    border-radius: 50%;
}

.songCard:hover .playBtn {
    display: block;
    /* transform: scale(1); */
}