@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.loginContainer {
    height: 100vh;
    width: 100vw;
    background-color: #1db945;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    width: 500px;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 16px;
    gap: 20px;
}

.loginBox {
    border: 5px solid #FCC201;
    border-radius: 16px;
    padding: 10px;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    color: #FCC201;
    background-color: #FFECC2;
}

.loginIcon {
    font-size: 64px;
    margin-left: 20px;
    transform: scale(2);
}

.loginDesc {
    background-color: #C5DBFF;
    color: #0B63E6;
    border: 5px solid #0B63E6;
}

.loginCheck .loginIcon,
.loginDesc .loginIcon {
    font-size: 92px;
}

.loginCheck {
    background-color: #B8D8C8;
    color: #198753;
    border: 5px solid #198753;
}

.loginForm img {
    height: 80px;
    width: 230px;
}

.gif-section {
    width: 100%;
    height: calc(100vh - 50px);
    background-color: #f39c12;
    font-family: 'Inter';
    display: flex;
    justify-content: center;
    align-items: center;
}

.gif-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.gif-list {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 10px;
}

.gif-text {
    width: 400px;
    color: #6D6D6D;
    font-size: 18px;
}

.gif-text h2 {
    font-size: 32px;
    font-weight: 600;
    color: #181818;
    margin-bottom: 40px;
    margin-top: 20px;
}

.gif-flex-odd {
    flex-direction: row-reverse;
}

.gif-odd {
    background-color: #e74c3c;
}

.gif-odd .gif-list {
    margin-bottom: 20px;
}

.gif-even .gif-list img {
    width: 70px;
    height: 70px;
}

.gif-list img {
    transition: all 0.1s linear
}

.gif-list img:hover {
    transform: scale(1.1)
}

.gif-even .gif-list {
    font-size: 20px;
}

.main-section {
    width: 100%;
    height: calc(100vh - 50px);
}

.first-section {
    background: #FFFFFF no-repeat url('https://preview.colorlib.com/theme/radios/images/xhero_bg_3.jpg.pagespeed.ic.gg3eYwri9_.webp') right top;
    background-size: 100% 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main-title {
    font-size: 64px;
    font-weight: 600;
    color: #FFFFFF;
}

.main-desc {
    color: #FFFFFF;
    font-size: 20px;
    width: 400px;
    margin-right: 100px;
    margin-top: -50px;
}

.second-desc .main-title {
    font-size: 44px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.second-section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.third-section {
    background-color: #9b59b6;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.third-desc {
    font-size: 20px;
    color: #ecf0f1;
    text-align: center;
}

.HomePage {
    scroll-behavior: smooth;
}

.home-banner-container {
    height: 300px;
    width: 100%;
}

.home-banner-container img {
    height: 100%;
    width: 100%;
}