.my-navbar ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

.my-navbar ul img {
    height: 30px;
    width: 80px;
}

.my-navbar {
    width: 15%;
    height: 100%;
    background-color: black;
    position: fixed;
    left: 0;
    z-index: 2;
    padding: 20px;
}